@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

$sidebar-bg-color: #ffffff;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(8, 0, 0, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;
$sidebar-width: 400px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Open Sans Hebrew Condensed', serif;

}
.sidebar-content {
  flex-grow: 1;
}
.pro-sidebar.rtl .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 8px 20px 8px 35px;
  border-bottom: 1px solid  rgba(173, 173, 173, 0.2);
}
.pro-sidebar.rtl {
  text-align: right;
  direction: rtl;
  border-left: 2px solid $sidebar-color
}

.logo{
  width: 200px;
  height: 100px;
  padding: 10px;

}
.box-large{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(201,201,201,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(201,201,201,1);
  box-shadow: 10px 10px 5px 0px rgba(201,201,201,1);
  border: 1px solid $sidebar-color;
  margin-right: 150px;
  width: 300px;
  height: 600px;
}
.box-small{
  -webkit-box-shadow: 5px 5px 5px 0px rgba(201,201,201,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(201,201,201,1);
  box-shadow: 5px 5px 5px 0px rgba(201,201,201,1);
  border: 1px solid $sidebar-color;
  margin-right: 150%;
  height:100px;
  width:100px;
  margin-top: 50px;
}
#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

.sidebarmenu{
    font-size: 24px;
    padding: 20px 24px;
    border: gray;
  }
.headermenu{
  padding: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow:ellipsis ;
  white-space: nowrap;
  text-align: center;
}
  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }

    footer {
      margin-top: auto;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar-btn-wrapper {
      .sidebar-btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}
input.form-control {
  border: 0;
  border-bottom: revert;
}

.login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
  min-height: 100vh;
  text-align: center;
}

label.MuiFormControlLabel-root.rememberMe{
  direction: rtl;
}

.MuiGrid-root.MuiGrid-container{
  flex-direction: column;
  font-size: large;
}

.bg{
background: top;
}


.help-block{
  width: 30px;
  height: 20px;
  padding: 20px;
}

.registrForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  direction: rtl;
  width: 300px;
  padding-top: 8px;
}

label {
  display: inline-block;
  width: 130%;
  text-align: right;
  }

.registrPaper {
  width: 900px;
  text-align: center;
  align-items: center;
  margin: auto;
  text-align: center;
  text-align: center;
  justify-content: center;
  margin-top: 6%;
}

.logoTimeLine{
width: 200px;
height: 100px;
padding: 15px;
justify-content: center;
align-items: center;
display: block;
margin: auto;
}

.registrDiv{
  display: flow-root;
}

.registrButton{
  border-radius: 12px;
  width: 100px;
  justify-content: center;
align-items: center;
display: block;
margin: auto;
}



.SingUpPaper{
  display: 'flex';
  flex-wrap: 'wrep';
  width: 50%;
  align-items: center;
  margin: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.logoLogIn{
  width: 30%;
  height: 100%;
  padding: 20px;
}


label#standard-basic-label{
  display: flex;
}

.MuiPaper-root.MuiPaper-elevation3.MuiPaper-rounded{
  display: inline-block;
  margin-top: 20%;
  padding: 20px;
}

.input{
  padding: 0.5em;
  margin: 0.5em;
  direction: rtl;
  background-color: white;
  font-family: 'Open Sans Hebrew Condensed', serif;
}

span.MuiButton-label{
  font-family: 'Open Sans Hebrew Condensed', serif;
}

a.MuiTypography-root.MuiLink-root.MuiLink-underlineHover.MuiTypography-body2.MuiTypography-colorPrimary{
  font-family: 'Open Sans Hebrew Condensed', serif;
  color: rgb(163, 97, 119);
}

p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorTextSecondary, button.registrButton.btn.btn-outline-secondary, form.registrForm{
font-family: 'Open Sans Hebrew Condensed', serif;
color:black;
}

.pro-sidebar{
  width:250px;
  min-width: 250px;
}

.homePageIcons{
  width: 100px;
}

.addEvent{
  display: 'flex';
  flex-wrap: 'wrep';
  align-items: center;
  width: 100px;
  height: 130px;
  margin: auto;
  text-align: center;
  justify-content: center;
  flex-direction: column; 
}

.homeTopRow{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-color:dimgray;
}

p.MuiTypography-root.MuiTypography-body1 {
font-family: 'Open Sans Hebrew Condensed', serif;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-color:dimgray;
  flex-direction: column; 
}

.MuiPaper-root.MyEvents.MuiPaper-elevation1.MuiPaper-rounded{
  text-align: center;
}

container {
font-family: 'Open Sans Hebrew Condensed', serif;
  padding-right: 150px;
}
.MuiSelect-select.MuiSelect-select{
font-family: 'Open Sans Hebrew Condensed', serif;
}